@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

*
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 0, 0);
    font-family: 'Inconsolata', monospace;
}

body {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > * {
    text-align: center;
}
