@font-face {
    font-family: Hubballi;
    src: url('./fonts/Hubballi-Regular.ttf');
}

@font-face {
    font-family: AlfaSabOne;
    src: url("./fonts/AlfaSlabOne-Regular.ttf");
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden !important;
    overflow: -moz-hidden-unscrollable !important;
}

 :root {
    --bh-border: 4px;
    --header-size: 66px;
    --sub-head-size: 20px;
    --black-hole-size: 190px;
    --space-ship-size: 180px;
    --connect-detail-size: 520px;
    --connect-detail-font-size: 16px;
}


@media only screen and (min-width: 760px) {
    :root {
        --bh-border: 4px;
        --header-size: 76px;
        --sub-head-size: 26px;
        --black-hole-size: 260px;
        --space-ship-size: 240px;
        --connect-detail-size: 520px;
        --connect-detail-font-size: 18px;
    }
    #connect-details { 
        flex-direction: row !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 9999px) {
    :root {
        --bh-border: 4px;
        --header-size: 120px;
        --sub-head-size: 26px;
        --black-hole-size: 360px;
        --space-ship-size: 340px;
        --connect-detail-size: 520px;
        --connect-detail-font-size: 22px;
    }
    #connect-details { 
        flex-direction: row !important;
    }
}


html {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
    font-family: 'serif';
    
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,21,36,1) 91%, rgba(22,30,36,0.9864320728291317) 100%, rgba(51,51,59,1) 100%);
}

body {
    width: 90vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    all: unset;
}

/********************
* Content Section
********************/
#main-content {
    top: 10%;
    left: 10%;
    position: absolute;
    
    display: flex;
    flex-direction: column;

    background-color: transparent;
}

#main-content h1 {
    font-size: var(--header-size);
    font-family: AlfaSlabOne;
    font-weight: bolder;
    font-stretch: extra-expanded;
    letter-spacing: 4px;
}

#main-content h3 {
    margin-left: auto;
    margin-top: -8px;
    
    font-size: var(--sub-head-size);
    font-family: Hubballi;
    font-weight: lighter;
}

#connect-details {
    width: var(--connect-detail-size);
    display: flex;
    margin-top: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
    font-size: var(--connect-detail-font-size);
    font-weight: bolder;
    font-family: Hubballi;

    z-index: 2;
    color:rgb(0, 214, 107);
    cursor: pointer;
    background-color: transparent;
}

#connect-details a:hover {
   color: rgb(174, 250, 171);
}

#connect-details a {
    margin-top: 9px;
}
/********************************
* Space section
*********************************/
#space-backg {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    
    background: rgba(49, 172, 172, 0.2);
background: -webkit-radial-gradient(center, rgba(47, 194, 194, 0.2), rgba(1, 1, 1, 1.0));
background: -moz-radial-gradient(center, rgba(43, 187, 187, 0.2), rgba(1, 1, 1, 1.0));
background: radial-gradient(ellipse at center, rgba(47, 194, 194, 0.2), rgba(1, 1, 1, 1.0));
}

.stars {
    z-index: -3;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url('./assets/space.svg');
}
#space-stars1 { z-index: -4; animation: mv1 10s linear infinite; transform: scaleX(-1);}
#space-stars2 { z-index: -5; animation: mv2 11s linear 2s infinite; }
#space-stars3 { z-index: -6; animation: mv2 11s linear 6s infinite; transform: scaleX(-1);}
@keyframes mv1 {
    from { bottom: -50vh; left: -50vw; }
    to   { bottom: 0vh; left: 0vw;}
}
@keyframes mv2 { 
    from { bottom: -100; left: -100; }
    to   { bottom: 0vh; left: 0vw;}
} 
/*****************************
* Black hole section
*****************************/

#black-hole {    
    background-color: rgb(0, 0, 0);
}
.bh-pos {
    position: absolute;
    top: 38%;
    right: 15%;
}
.bh-layer1 {
    z-index: 3;
    width: var(--black-hole-size);
    height: var(--black-hole-size);
    border-radius: var(--black-hole-size);

    background-color: transparent;
    border-top: calc(var(--bh-border) + 5px) solid rgb(255, 255, 255) ;
    border-left: calc(var(--bh-border) + 2px) solid rgb(255, 255, 255) ; 
}
.bh-layer2 {
    z-index: 2;
    width: calc(var(--black-hole-size) + 5px);
    height: calc(var(--black-hole-size) + 5px);
    border-radius: var(--black-hole-size);

    background-color: transparent;
    border-top: calc(var(--bh-border) + 3px) solid rgb(156, 239, 255) ;
    border-right: calc(var(--bh-border) + 5px) solid rgb(126, 233, 255) ;
    border-left: calc(var(--bh-border) + 1px) solid rgb(107, 230, 255) ;
}

#black-hole-frame1 { animation: rotleft 2s linear infinite alternate; }
#black-hole-frame2 { animation: rotright 3s linear infinite alternate; }
#black-hole-frame3 { animation: rotright 4s linear infinite alternate; }
#black-hole-frame4 { animation: rotleft 5s linear infinite alternate; }

@keyframes rotleft {
    from { transform: rotate(360deg);}
    to   { transform: rotate(0deg);}
}
@keyframes rotright {
    from { transform: rotate(0deg);}
    to   { transform: rotate(360deg);}
}

/****************
* spaceship
*******************/

#spaceship {
    z-index: 6;
    left: 10%;
    bottom: 10%;
    width: var(--space-ship-size);
    position: absolute;
    animation: spaceship 8s linear infinite;
}

@keyframes spaceship {
    0% {
        left: 15%;
        bottom: 10%;
        transform: rotate(8deg);
    }
    25% {
        left: 20%;
        bottom: 12%;
        transform: rotate(-8deg);
        width: calc(var(--space-ship-size) - 1.2em);
    }
    50% {
        left: 25%;
        bottom: 15%;
        transform: rotate(8deg);
        width: calc(var(--space-ship-size) - 2em);
    }
    75% {
        left: 20%;
        bottom: 12%;
        transform: rotate(-8deg);
    }
    100% {
        left: 15%;
        bottom: 10%;
        transform: rotate(8deg)
    }
}